<mat-toolbar>
  <div class="toolbarst">
    จัดการข้อมูลอาจารย์ที่ปรึกษา
  </div>
</mat-toolbar>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-8" >

      <br>
      <!-- <form class="sreach" [formGroup]="sreachstudent" (ngSubmit)="sreachstu()"> -->
        <!-- <mat-form-field  > -->
        <input  placeholder="ค้นหาอาจารย์ที่ปรึกษา" class="sreach" [formControl]="student_group">
        <!-- </mat-form-field> -->
        <button mat-raised-button color="primary" type="submit" (click)="sreachadv()">ค้นหา</button>
      <!-- </form> -->
      <br>

    </div>
    <div class="col-md-4">
        <br>
        <button mat-raised-button color="primary" (click)="openModal(add)">เพิ่มอาจารย์ที่ปรึกษา</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
  
              <!-- Position Column -->
              <ng-container matColumnDef="ชื่อ-นามสกุล">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ชื่อ-นามสกุล </th>
                <td mat-cell *matCellDef="let element"> {{element.advisor_name}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="อีเมล์">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> อีเมล์ </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="เบอร์โทรศัพท์">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> เบอร์โทรศัพท์ </th>
                <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
              </ng-container>
  
              <!-- Symbol Column -->
              <ng-container matColumnDef="คณะ">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> คณะ </th>
                <td mat-cell *matCellDef="let element"> {{element.faculty}} </td>
              </ng-container>
  
              <ng-container matColumnDef="ภาควิชา">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ภาควิชา </th>
                <td mat-cell *matCellDef="let element"> {{element.department}} </td>
              </ng-container>
  
              <ng-container matColumnDef="กลุ่ม">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> กลุ่ม </th>
                <td mat-cell *matCellDef="let element"> {{element.student_group}} </td>
              </ng-container>

              <ng-container matColumnDef="แก้ไข/ลบ">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> แก้ไข/ลบ </th>
                <td mat-cell *matCellDef="let element">&nbsp;&nbsp;&nbsp;&nbsp;<i style="cursor: pointer;" class="fa fa-pencil" (click)="updateadviser(element,edit)"
                    aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="fa fa-trash-o" (click)="deleteadviser(element.id,delete)" aria-hidden="true" style="cursor: pointer;"></i></td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
          </div>
      <!-- <table class="table table-bordered shadow">
        <thead>
          <tr>

            <th scope="col">ชื่อ-นามสกุล</th>
            
            <th scope="col">อีเมล์</th>
            <th scope="col">เบอร์โทรศัพท์</th>
            <th scope="col">คณะ</th>
            <th scope="col">ภาควิชา</th>
            <th scope="col">กลุ่มนักศึกษา</th>
            <th scope="col">แก้ไข/ลบ</th>

          </tr>
        </thead>
        <tbody *ngFor="let list of listadvisor ">
          <tr>

            <td>{{list.advisor_name}}</td>
            
            <td>{{list.email}}</td>
            <td>{{list.phone_number}}</td>
            <td>{{list.faculty}}</td>
            <td>{{list.department}}</td>
            <td>{{list.student_group}}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil" (click)="updateadviser(list,edit)" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-trash-o" (click)="deleteadviser(list.id,delete)" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>

<ng-template #add let-modal>
  <form class="animation" [formGroup]="addadviser" (ngSubmit)="add_adviser()">
    <h3>เพิ่มอาจารย์ที่ปรึกษา</h3>

    <br>
    <mat-form-field>
      <input matInput placeholder="ชื่อ-นามสกุล" formControlName="advisor_name">
    </mat-form-field>
    <!-- <br>
    <mat-form-field>
      <input matInput placeholder="Lastname" formControlName="lastname">
    </mat-form-field> -->
    <br>
    <mat-form-field>
      <input matInput placeholder="อีเมล์" formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="เบอร์โทรศัพท์" formControlName="phone_number">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="คณะ" formControlName="faculty">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="ภาควิชา" formControlName="department">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="กลุ่มนักศึกษา" formControlName="student_group">
    </mat-form-field>

    <!-- <div mat-dialog-actions> -->
    <br>
    <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
    <button mat-raised-button color="primary" type="submit">ยืนยัน</button>
    <!-- </div> -->

  </form>
</ng-template>

<ng-template #edit let-modal>
  <form class="animation" [formGroup]="editadvisor" (ngSubmit)="editAdvisor()">
    <h3>แก้ไขข้อมูลอาจารย์ที่ปรึกษา</h3>
    <fieldset disabled="disabled">
    <mat-form-field>
      <input matInput placeholder="หมายเลข" formControlName="id" [value]="updateid" [(ngModel)]="updateid">
    </mat-form-field>
    </fieldset>
    <br>
    <mat-form-field>
      <input matInput placeholder="ชื่อ-นามสกุล" formControlName="advisor_name" [value]="updateadvisor_name" [(ngModel)]="updateadvisor_name">
    </mat-form-field>
    <!-- <br>
    <mat-form-field>
      <input matInput placeholder="Lastname" formControlName="lastname" [value]="updatelastname" [(ngModel)]="updatelastname">
    </mat-form-field> -->
    <br>
    <mat-form-field>
      <input matInput placeholder="อีเมล์" formControlName="email" [value]="updateemail" [(ngModel)]="updateemail">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="เบอร์โทรศัพท์" formControlName="phone_number" [value]="updatephone_number"
        [(ngModel)]="updatephone_number">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="คณะ" formControlName="faculty" [value]="updatefaculty" [(ngModel)]="updatefaculty">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="ภาควิชา" formControlName="department" [value]="updatedepartment" [(ngModel)]="updatedepartment">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="กลุ่มนักศึกษา" formControlName="student_group" [value]="updatestudent_group"
        [(ngModel)]="updatestudent_group">
    </mat-form-field>
    <!-- <div mat-dialog-actions> -->
    <br>
    <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
    <button mat-raised-button color="primary" type="submit">ยืนยัน</button>
    <!-- </div> -->

  </form>

</ng-template>

<ng-template #delete let-modal>
  <form class="animation">
    <br>
    <div>
      <h4>คุณแน่ใจหรือไม่ ?</h4>
    </div>
    <br>
    <br>
    <br>
    <div>
      <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
      <button mat-raised-button color="primary" (click)="deleteAdvisort()">ยืนยัน</button>
    </div>
    <br>
  </form>

</ng-template>