<div class="container-fulid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form>
        <div class="form-group">
            <img src="../../assets/RMUTT-logo.png" class="rmuttlogo">
        </div>
        <div class="form-group">
          <label  style="font-size:20px; color: honeydew; ">ระบบตรวจสอบสถานะของนักศึกษาด้วยบาร์โค้ดผ่านแอนดรอยด์แอพพลิเคชั่น</label>
          <label  style="font-size:20px; color: honeydew; ">มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี</label>
        </div>
        <div class="example-container shadow">
            <mat-form-field>
              <input matInput placeholder="Username" style="color:aliceblue">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" style="color:aliceblue">
              <mat-icon matSuffix (click)="hide = !hide" style="color:aliceblue">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          
        </div>
        <br>
            <button mat-raised-button color="primary">Login</button>
        
        
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
