.container-fluid{
    background-color: #303030;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 91.5%;
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0 */
}