.container-fluid{
    background-color: #303030;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 91.5%;
    
    
}
.example-full-width{
    border: 3px solid darkgray;
    background-color: darkgrey;
    width: 400px;
    height: 350px;
    top: 80px;
}