<mat-toolbar>
    <div class="toolbarst">
        จัดการข้อมูลผู้ดูแลระบบ
    </div>
</mat-toolbar>

<div class="container-fluid">
        <br>
        <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6"></div>
        <div class="col-md-2"><button mat-raised-button color="primary" (click)="openModal(add)">เพิ่มผู้ดูแลระบบ</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">

                <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
              
                          <!-- Position Column -->
                          <ng-container matColumnDef="บัญชีผู้ดูแลระบบ">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> บัญชีผู้ดูแลระบบ </th>
                            <td mat-cell *matCellDef="let element"> {{element.admin_id}} </td>
                          </ng-container>
              
                          <!-- Name Column -->
                          <ng-container matColumnDef="รหัสผ่าน">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> รหัสผ่าน </th>
                            <td mat-cell *matCellDef="let element"> {{element.admin_password}} </td>
                          </ng-container>
              
                          <!-- Weight Column -->
                          <ng-container matColumnDef="ชื่อ">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ชื่อ </th>
                            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                          </ng-container>
              
                          <!-- Symbol Column -->
                          <ng-container matColumnDef="นามสกุล">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> นามสกุล </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                          </ng-container>

                          <ng-container matColumnDef="แก้ไข/ลบ">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> แก้ไข/ลบ </th>
                            <td mat-cell *matCellDef="let element">&nbsp;&nbsp;&nbsp;&nbsp;<i style="cursor: pointer;" class="fa fa-pencil" (click)="updateadmin(element,edit)"
                                aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <i class="fa fa-trash-o" (click)="deleteadmin(element.admin_id,delete)" aria-hidden="true" style="cursor: pointer;"></i></td>
                          </ng-container>
              
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
              
                        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
                      </div>

            <!-- <table class="table table-bordered shadow">
                <thead>
                    <tr>
                        <th scope="col">บัญชีผู้ดูแลระบบ</th>
                        <th scope="col">รหัสผ่าน</th>
                        <th scope="col">ชื่อ</th>
                        <th scope="col">นามสกุล</th>
                        <th scope="col">แก้ไข/ลบ</th>

                    </tr>
                </thead>
                <tbody *ngFor="let list of listadmin ">
                    <tr>
                        <td>{{list.admin_id}}</td>
                        <td><label></label></td>
                        <td>{{list.admin_password}}</td>
                        <td>{{list.firstname}}</td>
                        <td>{{list.lastname}}</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil" (click)="updateadmin(list,edit)"
                                aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-trash-o" (click)="deleteadmin(list.admin_id,delete)" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table> -->
        </div>
        
    </div>
</div>

<ng-template #add let-modal>
    <form class="animation" [formGroup]="addadmin" (ngSubmit)="add_Admin()">
        <h3>เพิ่มผู้ดูแลระบบ</h3>
        <mat-form-field>
            <input matInput placeholder="บัญชีผู้ดูแลระบบ" formControlName="admin_id"  >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="รหัสผ่าน" formControlName="admin_password">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="ชื่อ" formControlName="firstname" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="นามสกุล" formControlName="lastname">
        </mat-form-field>

        <!-- <div mat-dialog-actions> -->
        <br>
        <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
        <button mat-raised-button color="primary" type="submit">ยืนยัน</button>
        <!-- </div> -->

    </form>
</ng-template>

<ng-template #edit let-modal>
    <form class="animation" [formGroup]="editadmin" (ngSubmit)="editAdmin()">
        <h3>แก้ไขข้อมูลผู้ดูแลระบบ</h3>
        <fieldset disabled="disabled">
            <mat-form-field>
                <input matInput placeholder="บัญชีผู้ดูแลระบบ" formControlName="admin_id" [value]="updateadmin_id" [(ngModel)]="updateadmin_id">
            </mat-form-field>
        </fieldset>
        <mat-form-field>
            <input matInput placeholder="รหัสผ่าน" formControlName="admin_password" [value]="updatepassword"
                [(ngModel)]="updatepassword">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="ชื่อ" formControlName="firstname" [value]="updatefirstname" [(ngModel)]="updatefirstname">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="นามสกุล" formControlName="lastname" [value]="updatelastname" [(ngModel)]="updatelastname">
        </mat-form-field>

        <!-- <div mat-dialog-actions> -->
        <br>
        <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
        <button mat-raised-button color="primary" type="submit">ยืนยัน</button>
        <!-- </div> -->

    </form>

</ng-template>

<ng-template #delete let-modal>
    <form class="animation">
        <br>
        <div>
            <h4>คุณแน่ใจหรือไม่ ?</h4>
        </div>
        <br>
        <br>
        <br>
        <div>
            <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
            <button mat-raised-button color="primary" (click)="deleteAdmin()">ยืนยัน</button>
        </div>
        <br>
    </form>

</ng-template>

