<mat-toolbar>
  <div class="toolbarst">
    รายงานพฤติกรรมที่ผิดระเบียบ
  </div>
</mat-toolbar>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-6">
      <br>

      <!-- <form class="sreach" [formGroup]="sreachstudent" (ngSubmit)="sreachstu()" style="margin-left: 70px" > -->
      <mat-form-field  >
      <input matInput placeholder="ค้นหานักศึกษา" class="sreach" [formControl]="student_id">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="sreachbhv()" style="margin-left: 15px;">ค้นหา</button>
      <!-- </form> -->
    </div>
    <div class="col-md-6">
      <br>

      <form class="select">
          <mat-form-field>
              <mat-select placeholder="เลือกภาควิชา"  (selectionChange)="selectdepartment()" [formControl]="department" style="cursor: pointer;">
                <mat-option *ngFor="let list of listdepartment" [value]="list.department">{{list.department}}</mat-option>
              </mat-select>
            </mat-form-field>
        <!-- <select placeholder="เลือกภาควิชา" class="sreach " (selectionChange)="selectdepartment()" [formControl]="department" style="cursor: pointer;">
          
          <option *ngFor="let list of listdepartment" [value]="list.department">{{list.department}}</option>
        </select> -->
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <br>
      <br>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="รหัสนักศึกษา">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> รหัสนักศึกษา </th>
            <td mat-cell *matCellDef="let element"> {{element.student_id}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="ชื่อ-นามสกุล">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ชื่อ-นามสกุล </th>
            <td mat-cell *matCellDef="let element"> {{element.student_name}} </td>
          </ng-container>

          <ng-container matColumnDef="คณะ">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> คณะ </th>
            <td mat-cell *matCellDef="let element"> {{element.faculty}} </td>
          </ng-container>

          <ng-container matColumnDef="ภาควิชา">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ภาควิชา </th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
          </ng-container>

          <ng-container matColumnDef="กลุ่ม">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> กลุ่ม </th>
            <td mat-cell *matCellDef="let element"> {{element.student_group}} </td>
          </ng-container>

          <ng-container matColumnDef="พฤติกรรมที่ผิดระเบียบ">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> พฤติกรรมที่ผิดระเบียบ </th>
            <td mat-cell *matCellDef="let element"> {{element.behavior}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="วันที่">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> วันที่ </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="เวลา">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> เวลา </th>
            <td mat-cell *matCellDef="let element"> {{element.behavior_time}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
      </div>

      <!-- <table class="table table-bordered shadow">
        <thead>
          <tr>
            <th scope="col">Student_id</th>
            <th scope="col">Name</th>
            <th scope="col">Group</th>
            <th scope="col">Faculty</th>
            <th scope="col">Department</th>
            <th scope="col">Behavior</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>

          </tr>
        </thead>
        <tbody *ngFor="let list of listbehavior ">
          <tr>
            <td>{{list.student_id}}</td>
            <td>{{list.name}}</td>
            <td>{{list.student_group}}</td>
            <td>{{list.faculty}}</td>
            <td>{{list.department}}</td>
            <td>{{list.behavior}}</td>
            <td>{{list.date}}</td>
            <td>{{list.behavior_time}}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>

<!-- <ng-template #add let-modal>
  <form class="animation" [formGroup]="addstudent" (ngSubmit)="add_Student()">
    <h3>เพิ่มผู้ดูแลระบบ</h3>
    <mat-form-field>
      <input matInput placeholder="Card_id" formControlName="card_id">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Student_id" formControlName="student_id">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Firstname" formControlName="firstname">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Lastname" formControlName="lastname">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Sex" formControlName="sex">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Birthday" formControlName="birthday">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Group" formControlName="student_group">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Faculty" formControlName="faculty">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Department" formControlName="department">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Year" formControlName="year">
    </mat-form-field>

    
    <br>
    <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
    <button mat-raised-button color="primary" type="submit">ยืนยัน</button>
    

  </form>
</ng-template> -->

<!-- <ng-template #edit let-modal>
  <form class="animation" [formGroup]="editstudent" (ngSubmit)="editStudent()">
    <h3>แก้ไขข้อมูล</h3>
    <fieldset disabled="disabled">
      <mat-form-field>
        <input matInput placeholder="Card_id" formControlName="card_id" [value]="updatecard_id" [(ngModel)]="updatecard_id">
      </mat-form-field>
    </fieldset>
    <mat-form-field>
      <input matInput placeholder="Student_id" formControlName="student_id" [value]="updatestudent_id" [(ngModel)]="updatestudent_id">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Firstname" formControlName="firstname" [value]="updatefirstname" [(ngModel)]="updatefirstname">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Lastname" formControlName="lastname" [value]="updatelastname" [(ngModel)]="updatelastname">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Sex" formControlName="sex" [value]="updatesex" [(ngModel)]="updatesex">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Birthday" formControlName="birthday" [value]="updatebirthday" [(ngModel)]="updatebirthday">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Group" formControlName="student_group" [value]="updatestudent_group" [(ngModel)]="updatestudent_group">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Faculty" formControlName="faculty" [value]="updatefaculty" [(ngModel)]="updatefaculty">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Department" formControlName="department" [value]="updatedepartment" [(ngModel)]="updatedepartment">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Year" formControlName="year" [value]="updateyear" [(ngModel)]="updateyear">
    </mat-form-field>


   
    <br>
    <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
    <button mat-raised-button color="primary" type="submit">ยืนยัน</button>
    

  </form>

</ng-template>

<ng-template #delete let-modal>
  <form class="animation">
    <br>
    <div>
      <h4>คุณแน่ใจหรือไม่ ?</h4>
    </div>
    <br>
    <br>
    <br>
    <div>
      <button mat-button mat-raised-button color="warn" (click)="closeModal()">ยกเลิก</button>
      <button mat-raised-button color="primary" (click)="deleteStudent()">ยืนยัน</button>
    </div>
    <br>
  </form>

</ng-template> -->